<% include header %>
<div class="container">
<form class="form-horizontal" role="form" method="post" action="create">
  <div class="form-group">
    <textarea class="form-control" placeholder="Place content here" name='content'></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<% include footer %>
